<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Boat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="boatForm" (ngSubmit)="onFormSubmit(boatForm.value)">
    <ion-item>
      <ion-label position="floating">Boart Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Boart Type</ion-label>
      <ion-input type="text" formControlName="type"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Boart LOA</ion-label>
      <ion-input type="number" formControlName="loa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Boart Beam</ion-label>
      <ion-input type="number" formControlName="beam"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Boart Draft</ion-label>
      <ion-input type="number" formControlName="draft"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!boatForm.valid">Submit</ion-button>
  </form>
</ion-content>